
{% include 'base_logged.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/form.css">
{% endblock %}

{% block body %}
    <div class="content activity">
        <div class="overlay"></div>

        <div class="form-container">
            <h2>Ajouter Un campus !</h2>
            <span class="description">
            </span>
            {{ include('campus/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
