{% extends 'base.html.twig' %}

{% block title %}BD-E-ni{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/login.css">
{% endblock %}

{% block body %}
    <img src="/images/icon.png" alt="icon" class="icon">
    <div class="content">
        {{ form_start(requestForm) }}
        <h2>Mot de passe oublié ?</h2>

        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">Vérifier votre email, ou réessayez plus tard </div>
        {% endfor %}
        {{ form_widget(requestForm.email) }}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <br>
        <button class="btn btn-lg btn-primary">
            Réinitialiser le mot de passe
        </button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}


