{% extends 'base.html.twig' %}

{% block title %}BD-E-ni | Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/customResetPass.css">
{% endblock %}

{% block body %}
    <img src="/images/icon.png" alt="icon" class="icon">
    <div class="content">
        {{ form_start(resetForm) }}
        <div class="error">
            {{ form_errors(resetForm) }}
        </div>
        <h2>Modifier votre mot de passe !</h2>
        {{ form_widget(resetForm.plainPassword) }}
        <br>
        <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
        <script src="/scripts/form.js"></script>
    </div>
{% endblock %}

