{% include 'base_logged.html.twig' %}

{% block title %}Modification de sortie{% endblock %}

{% block body %}
    <h1>Modification de sortie</h1>

    {{ include('activity/_form.html.twig') }}
<a href="{{ path('app_remove_activity', {'id' : activity.id }) }}"><button class="button">Annuler</button></a>
{% endblock %}