.content {
  width: 100%;
  height: var(--content-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.activity {
  background-image: url("/images/background_activity_create.png");
}

.modify {
  background-image: url("/images/background-modify-user.png");
}

.overlay {
  position: absolute;
  background-color: var(--color-overlay);
  width: 100%;
  top: 71px;
  height: calc(100vh - 71px);
  backdrop-filter: blur(10px);
}

.form-container {
  z-index: 90;
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
  display: flex;
  align-items: center;
  padding: 10px 65px;
  flex-direction: column;
}

.form-container h2 {
  color: var(--color-secondary);
  font-size: var(--font-size-xxl);
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description p {
  color: var(--color-secondary);
  font-size: var(--font-size-xl);
  margin: 0;
  margin-top: -5px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form select,
form textarea,
.file-label {
  text-align: center;
  color: var(--color-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-large);
  margin-top: var(--spacing-m);
}

form input {
  width: var(--width-button);
  height: 40px;
}

form select {
  width: 506px;
  height: 46px;
}

form textarea {
  width: 500px;
  height: 80px;
  resize: vertical;
}

.file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 30px;
  cursor: pointer;
  transition: var(--transition-default);
}

.file-label:hover {
  background-color: var(--color-white);
  transition: var(--transition-default);
}

input[type="file"] {
  display: none;
}

.same_line {
  display: flex;
  justify-content: space-between;
  width: 506px;
}

.same_line > span {
  display: flex;
  flex-direction: column;
}

.same_line > span:first-child {
  align-items: flex-start;
}

.same_line > span:last-child {
  align-items: flex-end;
}

.same_line > span > input {
  width: 230px;
  text-align: center;
}

.same_line > span > label {
  color: var(--color-secondary);
  font-size: var(--font-size-large);
  width: 100%;
  text-align: center;
  margin-top: var(--spacing-xs);
}

button {
  width: var(--width-button);
  height: 40px;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  color: var(--color-white);
  font-size: var(--font-size-large);
  transition: var(--transition-default);
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-l);
}

form button:hover {
  background-color: var(--color-primary-dark);
  transition: var(--transition-default);
}

@media screen and (max-width: 950px) {
  .form-container h2 {
    font-size: var(--font-size-xl);
  }

  form input,
  form select,
  form textarea,
  .file-label,
  button,
  .description p {
    font-size: var(--font-size-normal);
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    padding: 10px 30px;
  }

  form input {
    width: 300px;
  }

  form select {
    width: 306px;
  }

  form textarea {
    width: 300px;
  }

  .file-label {
    width: 300px;
  }

  .same_line {
    width: 306px;
  }

  .same_line > span > input {
    width: 130px;
  }

  .same_line > span > label {
    font-size: var(--font-size-normal);
  }

  button {
    width: 300px;
  }
}
