.content {
  width: 100%;
  height: var(--content-height);
  display: flex;
}

#participants {
  cursor: pointer;
}

.list,
.activity-map {
  display: flex;
  overflow-x: hidden;
}

.list {
  width: 55%;
}

.list #activityContent {
  width: 100%;
}

.activity-map {
  width: 30%;
}

/* Si la div est vide, on ne l'affiche pas */
.activity-map #activity-details:empty {
  display: none;
}

#activity-details {
  width: 100%;
  padding: 45px 15px 15px;
  border-left: 1px solid var(--color-border);
}

#activity-details p {
  margin: 0;
  line-height: 36px;
}

#activity-details .img-container img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-small);
}

#activity-details .title-description-container .title-container {
  display: flex;
  justify-content: space-between;
}

#activity-details .title-description-container .title-container > p {
  display: flex;
}

#activity-details .title-description-container .title-container p img {
  margin-left: var(--spacing-xs);
}

#activity-details .title-description-container .separator {
  width: 100%;
}

#activity-details .details-container {
  display: flex;
  margin-top: var(--spacing-m);
  gap: var(--spacing-l);
  justify-content: space-between;
}

#activity-details .details-container p {
  line-height: 20px;
}

#activity-details .actions-container {
  margin-top: var(--spacing-xxl);
  display: flex;
  justify-content: space-between;
}

.map {
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--color-border);
}

#map {
  width: 100%;
  height: 100%;
}

.filter {
  width: 15%;
  border-right: 1px solid var(--color-border);
}

.list,
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list h2,
.filter h2 {
  margin-top: var(--spacing-l);
  color: var(--color-secondary);
  font-weight: bold;
  text-align: center;
}

.separator {
  width: 85%;
  height: 1px;
  background-color: var(--color-border);
  margin-top: 10px;
}

#toggle-form-button {
  display: none;
}

.filter #form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.filter form {
  width: 85%;
}

.filter form .column {
  display: flex;
  flex-direction: column;
}

.filter form .form-subtitle {
  font-size: 22px;
  line-height: 27px;
  margin: 10px 0;
}

.filter form input,
.filter form select {
  text-align: center;
  color: #3f4250;
  border: 1px solid #d9dadd;
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
}

.filter form select {
  height: 31px;
}

.filter form button {
  margin: 30px 0 0;
  padding: 5px;
  height: unset;
  width: 100%;
  font-size: 22px;
}

.activity-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-content::-webkit-scrollbar {
  display: none;
}

.activity-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.activity {
  border-radius: var(--border-radius-small);
  -webkit-box-shadow: var(--box-shadow-default);
  box-shadow: var(--box-shadow-default);
  width: calc(98% - 35px);
  display: flex;
  padding: 10px;
  align-items: center;
  max-height: 85px;
  margin-top: var(--spacing-xl);
  justify-content: space-between;
  transition: var(--transition-default);
  margin-bottom: var(--spacing-xs);
  cursor: pointer;
}

.activity:hover {
  transform: scale(1.01);
  transition: var(--transition-default);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 0px 0px 5px rgba(20, 74, 127, 0.5);
}

.activity img {
  border-radius: var(--border-radius-small);
  width: 150px;
  height: 85px;
}

.title strong {
  color: var(--color-secondary);
  font-size: var(--font-size-large);
  font-weight: bold;
  margin: 0;
}

.description {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  line-height: 15px;
  margin: 0;
}

.title-description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 85px;
  max-width: 350px;
  margin-left: var(--spacing-s);
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.information p {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  margin: 0;
}

.information_text {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.button {
  height: 25.65px;
  width: 120px;
  margin-left: var(--spacing-s);
  background-color: var(--color-primary);
  color: white;
  font-size: var(--font-size-medium);
  border: none;
  border-radius: var(--border-radius-small);
  position: relative;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons .actions {
  display: flex;
  flex-direction: row;
}

.buttons .state button {
  cursor: default;
}

.buttons a {
  text-decoration: none;
}

.cancel {
  background-color: var(--color-cancel);
}

.modify {
  background-color: var(--color-modify);
}

.highlight {
  transform: scale(1.01);
  transition: var(--transition-default);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 0px 0px 5px rgba(20, 74, 127, 0.5);
}

.campus {
  width: 50% !important;
}

.missing {
  margin: 0;
  color: var(--color-text-light);
  font-size: var(--font-size-medium);
}

.missing a {
  text-decoration: none;
  color: var(--color-primary);
}

.status {
  background-color: var(--color-primary-opacity-50);
  color: var(--color-white);
  font-size: var(--font-size-medium);
  border-radius: 50px;
  padding: 5px 15px;
  margin: 0;
  border: none;
  height: 25.65px;
  margin-left: 10px;
}

.status-close {
  background-color: var(--color-cancel-opacity-50);
}

.status-cancel {
  background-color: var(--color-cancel-opacity-50);
}

@media (max-width: 1300px) {
  .map {
    display: none;
  }

  .list {
    width: 85%;
  }

  .campus {
    width: 100% !important;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: unset;
  }

  .filter {
    width: 100%;
    z-index: 10;
  }

  #toggle-form-button {
    display: block;
  }

  .filter #form-container.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .filter #form-container.active {
    max-height: 600px;
    transition: max-height 0.5s ease-in-out;
  }

  .list {
    width: 100%;
    background: white;
    z-index: 100;
  }

  .list #activityContent .activity {
    flex-direction: column;
    max-height: unset;
  }

  .list #activityContent .activity .flex {
    width: 100%;
  }

  .list #activityContent .activity .flex .title-description .title {
    margin: 4px 0;
  }

  .list #activityContent .activity .information {
    width: 100%;
  }

  .list #activityContent .activity .information .information_text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list #activityContent .activity .information .buttons {
    width: 100%;
  }

  .activity-map {
    width: 100%;
  }

  .activity-map #activity-details {
    width: 100%;
  }

  .activity-map #activity-details .img-container {
    display: flex;
    justify-content: center;
  }

  .activity-map #activity-details .img-container img {
    width: 50%;
    height: auto;
  }

  .activity-map #activity-details .details-container {
    flex-direction: column;
  }

  .activity-map #activity-details .details-container img {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .activity-map #activity-details .img-container img {
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: 1700px) {
  .list #activityContent .activity {
    width: 93%;
  }

  .list #activityContent .activity .flex .title-description .title {
    margin: 0;
  }
}

@media (min-width: 1300px) and (max-width: 2000px) {
  #activity-details .details-container {
    flex-direction: column;
  }

  #activity-details .details-container img {
    max-width: 350px;
    height: auto;
  }
}
