.content {
  width: 100%;
  height: calc(100vh - 101px);
  display: flex;
}

.list,
.map {
  width: 42.5%;
}

.filter {
  width: 15%;
  border-right: 1px solid #d9dadd;
}

.list,
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list h2,
.filter h2 {
  margin-top: 20px;
  color: #3f4250;
  font-weight: bold;
}

.separator {
  width: 85%;
  height: 1px;
  background-color: #d9dadd;
  margin-top: 10px;
}

.map {
  border-left: 1px solid #d9dadd;
}

#map {
  width: 100%;
  height: 100%;
}

.activity-content {
  width: 96%;
  overflow: auto;
}

.activity {
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: calc(100% - 20px);
  display: flex;
  padding: 10px;
  align-items: center;
  max-height: 85px;
  margin-top: 25px;
  justify-content: space-between;
  transition: 0.2s;
  margin-bottom: 5px;
}

.activity img {
  border-radius: 5px;
  width: 150px;
  height: 85px;
}

.title {
  color: #3f4250;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.description {
  color: #3f4250;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.title-description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 85px;
  max-width: 350px;
  margin-left: 10px;
}

.information {
  display: flex;
  flex-direction: column;
  height: 85px;
  align-items: flex-end;
  justify-content: space-between;
}

.information p {
  color: #3f4250;
  font-size: 12px;
  margin: 0;
}

.information_text {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.button {
  height: 25.65px;
  width: 120px;
  margin-left: 10px;
  background-color: #144a7f;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons a {
  text-decoration: none;
}

.cancel {
  background-color: #800020;
}

.modify {
  background-color: #c4651a;
}

.highlight {
  transform: scale(1.01);
  transition: 0.2s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 0px 0px 5px rgba(20, 74, 127, 0.5);
}

.campus {
  width: 50% !important;
}

.missing {
  margin: 0;
  color: #91939b;
  font-size: 14px;
}

.missing a {
  text-decoration: none;
  color: #144a7f;
}

@media (max-width: 1300px) {
  .map {
    display: none;
  }

  .list {
    width: 85%;
  }

  .campus {
    width: 100% !important;
  }
}
