body {
  height: 100vh;
  background-image: url("/images/background-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: "Poppins";
}

.content {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--box-shadow-large);
  box-shadow: var(--box-shadow-large);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
  width: fit-content;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 435px;
  border: 1px solid #d9dadd;
  border-radius: var(--border-radius-small);
  height: 50px;
  font-size: var(--font-size-xxl);
  color: var(--color-secondary);
  margin-top: var(--spacing-xxl);
  padding-left: var(--spacing-s);
}

form h2 {
  font-size: var(--font-size-xxxl);
  color: var(--color-secondary);
  margin-bottom: 0;
}

form button {
  width: 448px;
  height: 50px;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  color: white;
  font-size: var(--font-size-xxl);
  transition: var(--transition-default);
}

form button:hover {
  background-color: var(--color-primary-dark);
  transition: var(--transition-default);
}

.checkbox {
  width: 445px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox a {
  color: var(--color-text-light);
  font-size: var(--font-size-large);
  text-decoration: none;
  cursor: pointer;
}

.checkbox label {
  color: var(--color-secondary);
  font-size: var(--font-size-large);
}

.checkbox input {
  width: fit-content;
  height: fit-content;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  padding-left: 0;
}

.icon {
  position: absolute;
  top: var(--spacing-l);
  left: var(--spacing-l);
  width: 100px;
  height: 100px;
}
