.myContent {
  width: 100%;
  height: var(--content-height);
  display: flex;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box h2 {
  margin: 0;
  color: var(--color-secondary);
  font-size: var(--font-size-xxl);
  margin-top: var(--spacing-s);
}

.box.right {
  border-left: 1px solid var(--color-border);
}

.createActivity {
  text-decoration: none;
}

.profile-button button {
  width: 395px;
  height: 40px;
  font-size: var(--font-size-xl);
  margin-top: var(--spacing-l);
}

.profilPicture {
  width: 200px;
  height: 200px;
  border-radius: var(--border-radius-large);
  margin-top: var(--spacing-l);
}

.title {
  margin-top: var(--spacing-s) !important;
  font-size: var(--font-size-xxl);
  font-weight: bold;
  color: var(--color-secondary);
}

.email {
  font-size: var(--font-size-large);
  color: var(--color-text-lighter);
}

.text {
  margin: 0;
}

.more-information {
  width: 80%;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-border);
  margin-top: var(--spacing-xxxl);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myInformation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.myInformation p {
  margin: 20px 40px;
  font-size: var(--font-size-large);
  color: var(--color-secondary);
  text-wrap: nowrap;
}

.information-title {
  font-weight: bold;
}

.modifyProfil {
  position: absolute;
  bottom: var(--spacing-l);
  left: var(--spacing-l);
}

@media (max-width: 1300px) {
  .myContent {
    flex-direction: column;
  }

  .box.right {
    border-left: none;
    border-top: 1px solid var(--color-border);
  }

  .modifyProfil {
    position: relative;
    margin-top: var(--spacing-l);
    margin-left: 0 !important;
    left: 0;
  }
}

@media (max-width: 768px) {
  .createActivity {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .myInformation {
    flex-direction: column;
  }

  .title {
    font-size: var(--font-size-xl);
    margin-bottom: 0;
    margin-top: 0 !important;
    line-height: 25px;
  }

  .information p {
    text-wrap: nowrap;
  }

  .more-information {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .myInformation p {
    margin: 10px 20px;
    font-size: var(--font-size-medium);
  }

  .activity img {
    display: none;
  }
}
