<link rel="stylesheet" href="/styles/popup.css">
<div class="myPopup" style="display: none" id="myPopup">
    <div class="popup-background"></div>
    <div class="popup">
        <div class="close-container">
            <i id="close" class="fa-solid fa-xmark"></i>
            <div id="content"></div>
        </div>
    </div>
</div>

<script src="/scripts/popup.js"></script>