{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div style="text-align: center">
        We have to add file upload system before add profil picture modification
        {{ form_errors(form) }}

    {{ form_start(form) }}
    <button class="btn btn-lg btn-primary" type="submit">
        Terminer
    </button>
    {{ form_end(form) }}
    </div>

{% endblock %}
